[Unit]
Description=The Messenger worker for Pollaris

[Service]
ExecStart=php /var/www/pollaris/bin/console messenger:consume async --time-limit=3600

User=www-data
Group=www-data

Restart=always
RestartSec=30

[Install]
WantedBy=default.target
